@import "sass/variables", "sass/mixins", "sass/global", "sass/components",
  "sass/navbar", "sass/sidebar", "sass/dataTable";

/********************* Start Main padding Righ section *********************/
.main-padding-right {
  @include dir-padding-left(250px);

  @media screen and (max-width: $screen-lg) {
    @include dir-padding-left(0px !important);
  }
}
/********************* End Main padding Right section *********************/

/********************* Start home_card *********************/
.home_card {
  border-radius: 12px;
  padding: 18px;
  background-color: $white5;
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: space-between;

  &.sec {
    background-color: $white4;
  }
}
/********************* End home_card *********************/

/********************* Start setting_item Item *********************/
.setting_item {
  padding: 15px 25px;
  border: 1px solid rgba($color: $border-color, $alpha: 0.6);
  border-radius: 7px;
  @include between;
  gap: 15px;
  flex-wrap: wrap;

  @include devices(xs) {
    padding: 15px;
  }

  .setting_btn {
    @include devices(xs) {
      width: 40px;
      height: 40px;
      min-width: fit-content;
      max-width: none;
      padding: 0;
    }

    span {
      @include devices(xs) {
        display: none;
      }
    }
  }
}
/********************* End setting_item Item *********************/

/********************* Start filter_con *********************/
.filter_con {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  .filter_item {
    .input-me {
      background-color: $white2;
      border-color: $white2;
      width: 280px;
      @include dir-padding-left(35px);
      border-radius: 12px;
    }

    .main-icon {
      @include dir-left(12px !important);
      @include dir-right(unset !important);
      color: $black;
    }
  }

  .select {
    ~ .select2 {
      width: 280px !important;

      .select2-selection--single,
      .select2-selection--multiple {
        min-height: 50px;

        background-color: $white2;
        border-color: $white2;
        width: 280px;
        border-radius: 12px;
      }
    }
  }

  .main-btn {
    border-radius: 12px;
  }
}
/********************* End filter_con *********************/

.offersMonth {
  position: relative;
  &::after {
    @include circle(240px);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid #fafafa;
    z-index: -1;
  }
}
.apexcharts-text tspan,
.apexcharts-legend-text {
  font-family: fontDemi !important;
}

.apexcharts-legend {
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
  padding: 0 !important;
}

.apexcharts-legend-series {
  margin: 0 !important;
}

.apexcharts-legend-marker {
  margin-right: 0;
  margin-left: 0;
  margin-inline-end: 7px;
}

.legend_item {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 20px;

  .color {
    background-color: $three;
    display: block;
    width: 24px;
    height: 12px;
    border-radius: 7px;

    &.color2 {
      background-color: #03045e;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}
