@import "sass/variables", "sass/mixins", "sass/global", "sass/components",
  "sass/navbar", "sass/sidebar";

/********************* Start Main padding Righ section *********************/
.main-padding-right {
  @include dir-padding-left(250px);
  
  @media screen and (max-width: $screen-lg) {
    @include dir-padding-left(0px !important);
  }
}
/********************* End Main padding Right section *********************/

/********************* Start setting_item Item *********************/
.setting_item{
  padding: 15px 25px;
  border: 1px solid rgba($color: $border-color, $alpha: .6);
  border-radius: 7px;
  @include between;
  gap: 15px;
  flex-wrap: wrap;
  
  @include devices(xs){
    padding: 15px;
  }
  
  .setting_btn{
    @include devices(xs){
      width: 40px;
      height: 40px;
      min-width: fit-content;
      max-width: none;
      padding: 0;
    }

    span{
      @include devices(xs){
        display: none;
      }
    }
  }
}
/********************* Start setting_item Item *********************/